<div class="image_modal_gray_layer">
</div>

<div class="image_full_size">
  <div class="x_out_card_options_window">
    <span>
      <div class="cross_x"></div>
    </span>
  </div>

  <div class="image_wrapper">
    <img src="{{url_full}}" />
  </div>
  
  <div class="image_full_size_details">
    <h2>{{image}}</h2>
    <p>Added {{date_time}}</p>
    <div class="image_full_size_links">
      <a href="{{this.url_full}}" class="picture_list_item_link" download>Download</a>
      <a href="" class="delete_picture_link_full_size"data-image="{{this.id}}">Delete</a>
    </div>
  </div>
</div>
