<input class="hidden_search_results_input" data-card_id="{{id}}" data-board_id="{{board_id}}" hidden />

<a href="#"><h3>{{title}}</h3></a>
<h4>in <strong>{{listTitle}}</strong> on <strong>{{boardTitle}}</strong></h4>
